prototypes/*
!prototypes/parse_disdro_csv.py
!prototypes/serial_sniffer_parsivel.py
!prototypes/serial_sniffer_thies.py
!prototypes/manual_polling_thies.py
.python-version
__pycache__
config.yml
test_data/*
.vscode/
.coverage
sample_data/*
!sample_data/test_parsivel.db
!sample_data/test_thies.db
!sample_data/20240115_Green_Village-GV_PAR008.nc
!sample_data/20231106_PAR007_CabauwTower.csv
*.fixtures
export_24Dec2023_db2nc.sh
.idea