[Unit]
Description=disdrodlv3 Thies
After=multi-user.target

[Service]
ExecStart=/usr/local/src/venv/disdrodl/bin/python3  /usr/local/src/disdrodl/main.py -c /usr/local/src/disdrodl/configs_netcdf/config_006_GV_THIES.yml
ExecReload=/usr/local/src/venv/disdrodl/bin/python3  /usr/local/src/disdrodl/main.py -c /usr/local/src/disdrodl/configs_netcdf/config_006_GV_THIES.yml
TimeoutStopSec=10
Restart=always
RestartSec=30

[Install]
WantedBy=default.target
